<!DOCTYPE html>
<!-- Importing Partial Pages -->
<%- include('../partials/header.ejs'); %>

    <main class="main">
        <h2>Main Page</h2>
    </main>

<%- include('../partials/footer.ejs'); %>
    